<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36373a;
}

li {
    float: left;
    font: <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> ;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #232372;
}

.active {
background-color:#36373a;
}
</style>
</head>
<body>
    <body>
        {% block nav %}
        <ul id="nav">
            <li>{% block nav-home %}<a href="/">Home</a>{% endblock %}</li>
            <li>{% block nav-projects %}<a href="/projects/">Projects</a>{% endblock %}</li>
            <li>{% block nav-contact %}<a href="/contact/">Contact</a>{% endblock %}</li>
        </ul>
        {% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>